<!doctype html>
<html>
    <head>
        <title>Alexa rating monitor for CodeAbbey</title>
        <meta name="robots" content="noindex,nofollow"/>
        <link href="./static/chartist.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="./static/chartist.min.js"></script>
        <script src="./static/main.js"></script>
        <style>
            #my-chart {margin: 0px auto}
        </style>
    </head>
    <body style="text-align:center">
        <h1>Alexa rating for CodeAbbey</h1>
        <div id="my-chart" class="ct-perfect-fourth" style="width:600px;height:400px;"></div>
    </body>
</html>

